.nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 10px;
  border-right: 1px solid #000000;
}

.link {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 10px;
}
.link:hover {
  color: #fff;
  background-color: #808080;
}
